<div class="display-position">
  <div class="login-size-position">
      <div class="internal-content">
          <p class="enter-label">Entrar</p>
          <form>
              <div class="input-group">
                  <input name="email" placeholder="E-mail" required>
                  <input name="password" type="password" placeholder="Senha" required>
                  <p>ESQUECEU SUA SENHA?</p>
              </div>
              <button>Entrar</button>
           </form>
           <div class="display-position">
                <a routerLink="/register" routerLinkActive="active">Não tem uma conta? Cadastre-se</a>
           </div>
      </div>
  </div>
</div>
